/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* IMPORTANT: remove any flex from body */
body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #000;
}
